<html>
  <head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <link href="/css/main.css" rel="stylesheet" media="all" type="text/css" />
    <title>Testing Google Earth API for SpriteOrbits</title>
  </head>
  <body>
    <!-- <div id="map3d" style="height: 600px; width: 800px;"></div> -->
    <div id="map3d" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;"></div>
    <div id="sprites"></div>
    <p id="time"></p>
    <div id="ui">
      <input id="time-bar" type="range" name="range">
    </div>
  </body>
</html>

